# directories
alias l='ls -la --color'
alias p='ps aux'
alias h='dirs -v'

# editors
alias n='nano'
alias e='emacs'
alias v='vim'

# vpn
alias vp='vpnc'
alias vd='vpnc-disconnect'

# ssh
s() { ssh chris@"$@"; }
sx() { ssh -AX chris@"$@"; }

# misc
alias et='rm -rf ~/.local/share/Trash/*'

# git
gb()  { git branch; }
gc()  { git commit -a; }
gco() { git checkout "$@"; }
gcb() { git checkout -t origin/"$@"; }
gp()  { git pull origin "$@"; git submodule update --init --recursive; git submodule sync; }
gpm() { gp master; }
gs()  { git push origin "$@"; }
gsm() { gs master; }
