# directories
alias l='ls -la --color'
alias p='ps aux'
alias h='dirs -v'

# editors
alias n='nano'
alias e='emacs'
alias v='vim'

# vpn
alias vp='vpnc'
alias vd='vpnc-disconnect'

# ssh
s() { ssh chris@"$@"; }
sa() { ssh -A chris@"$@"; }
sx() { ssh -X chris@"$@"; }
sax() { ssh -AX chris@"$@"; }

# misc
alias et='rm -rf ~/.local/share/Trash/*'

# python-based command line json formatter
alias jsonv='python -m json.tool'

# tailing webserver logs
# nginx:  tln, tl
# apache: tla
tl() {
  tln
}
tln() {
  local TLINES=50
  if [[ $@ = [0-9]* ]]; then
    local TLINES="$@"
  fi
  sudo tail -n "$TLINES" /var/log/nginx/error.log
}
tla() {
  local TLINES=50
  if [[ $@ = [0-9]* ]]; then
    local TLINES="$@"
  fi
  sudo tail -n "$TLINES" /var/log/apache2/error.log
}


# Git aliases
gb()  { git branch; }
gf()  { git fetch; }
gc()  { git commit -a; }
gco() { git checkout "$@"; }
gcb() { git checkout -t origin/"$@"; }
# Git: variations on pull
gp()  { git pull origin "$@"; }
gpm() { gp master; }
gpb() { gp `git rev-parse --abbrev-ref HEAD` }
gpr()  { git pull --rebase origin "$@"; git submodule update --init --recursive; git submodule sync; }
gprm() { gpr master; }
gprb() { gpr `git rev-parse --abbrev-ref HEAD` }
# Git: variations on push
gs()  { git push origin "$@"; }
gsm() { gs master; }
gsb() { gs `git rev-parse --abbrev-ref HEAD` }

